body {
  background: #f9fafb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding-top: 1rem;
}

.main_sidebar {
  margin-right: 10px;
}

.main_sidebar p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.1;
}

.main_background img{
  width: 100%;
  height: 100%;
}

.main_content {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #8e3238;
  width: 100%;
}

.main_header {
  margin: 0;
  font-size: 4rem;
  line-height: 1.1;
  color: #d45d65;
}

.main_subheader {
  margin: 0;
  font-size: 2.6rem;
  line-height: 1.1;
}

.main_subheader-two {
  margin: 0;
  font-size: 2rem;
  line-height: 1.1;
}